#rotate-square{
  background-color: aqua;
  border: 1px solid black;
  border-radius: 10%;
  width: 200px;
  height: 200px;
}
#rotate-square:hover{
    animation: animate 1s ease-in-out alternate 2;
}
@keyframes animate{
    33%{
        transform: rotate(90deg);
        background-color: greenyellow;
    }
    66%{
        transform: rotate(180deg);
        background-color: red;
    }
    100%{
        transform: rotate(240deg);
        background-color: grey;
    }
}